* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: Segoe UI;
    margin-bottom: 16px;
}

a, input, label {
    font-family: Segoe UI;
}

.image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: Segoe UI;
    src: url(assets/fonts/segoeui);
}