//colors
$white: rgb(255, 255, 255);
$slate: rgb(91, 125, 132);
$black: rgb(0, 0, 0);

$slate-grey: rgb(91, 125, 132, .35);
$black-grey: rgb(0, 0, 0, .45);

$slate-opacity: rgb(91, 125, 132, .60);


//fonts


//sizes