#books {
    width: 100%;
    margin-top: 60px;
    padding: 0 80px;

    .category {
        width: 100%;
        margin-bottom: 100px;

        h3 {
            margin-bottom: 40px;
        }

        .category-content {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .book {
                display: flex;
                height: 180px;
                width: 30%;

                .book-img {
                    height: 180px;
                    width: auto;

                    margin-right: 40px;

                    img {
                        height: 180px;
                        width: auto;
                        background-color: #999;
                    }
                }

                .book-info {
                    display: flex;
                    flex-direction: column;

                    .desc {
                        min-height: 40%;
                        font-size: 12px;
                    }

                    button {  
                        width: 150px;
                        padding: 10px 30px;

                        text-transform: capitalize;

                        border: $black 1px solid;
                        background-color: transparent;
                    }

                    button:hover {
                        color: $black-grey;
                        border: $black-grey 1px solid;
                    }
                }
            }

        }
    }
}