#cart {
    width: 100%;
    min-height: 80vh;
    padding: 0 80px;

    .book {
        height: 400px;
        width: 100%;

        display: flex;
        align-items: center;

        border-bottom: solid 1px $black-grey;

        .book-img {
            height: 200px;
            width: 200px;

            display: flex;
            align-items: center;
            justify-content: center;

            margin-right: 80px;

            img {
                height: 200px;
                width: auto;
                background-color: #999;
            }
        }

        .book-info {
            display: flex;
            flex-direction: column;

            .desc {
                min-height: 40%;
                font-size: 12px;
            }

            .quantity {
                span {
                    font-weight: bold;
                }

                a {
                    margin: 0 8px;
                }

                a:hover {
                    cursor: pointer;
                    color: $slate;
                }

            }

            button {  
                width: 150px;
                padding: 10px 30px;

                text-transform: capitalize;

                border: $black 1px solid;
                background-color: transparent;
            }

            button:hover {
                color: $black-grey;
                border: $black-grey 1px solid;
            }
        }
    }       
}