nav {
    height: 100px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 60px;
    margin-bottom: 40px;
    // background-color: $slate;

    .logo {
        width: 18%;

        display: flex;
        align-items: center;

        svg {
            height: 50px;
            width: 50px;

            margin-right: 10px;
        }

        h2 {
            margin: 0;
        }
    }

    input {
        width: 34%;  

        padding: 10px 20px;

        border: transparent;
        background-color: $slate-grey;
    }

    input:focus {
        border: transparent;
        outline: none;
    }

    input::placeholder {
        color: $black-grey;
    }

    .links {
        width: 34%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            display: flex; 
            align-items: center;

            color: $black;
            text-decoration: none;

            svg {
                height: 20px;
                width: 20px;

                margin-left: 6px;

                * {
                    fill: $black;
                }
            }
        }

        a:hover {
            color: $slate;

            svg {
                * {
                    fill: $slate
                }
            }
        }
    }
}