.home-books {
    height: 90vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5%;

    .books-row {
        height: 100vh;
        width: 100%;
        
        display: flex;
        align-items: center;
        justify-content: space-between;

        .book {
            width: 300px;
    
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
    
            img {
                width: 200px;
                height: auto;

                margin-bottom: 40px;
            }

            .book-info {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                p {
                    text-align: center;
    
                    margin-bottom: 40px;
                }
    
                button {
                    padding: 10px 20px;
    
                    margin-top: 20px;
    
                    border: solid 1px black;
                    background-color: transparent;
                }
            }
        }
    }
    
}

@media only screen and (max-width: 875px)  {
    .home-books {
        margin-top: 80px;

        .books-row {
            flex-direction: column;

            .book {
                margin-bottom: 60px;
            }
        }
    }
}