#blog {
  display: flex;
  flex-direction: column;
  align-items: center;

  .blogPostSection {
    max-height: 463px;
    margin-top: 100px;
    background-color: $slate;
    display: flex;
    justify-content: space-between;
    width: 75%;

    .bookPreviews {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 50px;

      padding: 40px;
      width: 700px;

      .imgContainer {
        margin-right: 50px;
        width: 250px;
        height: 380px;
      }

      img {
        height: 100%;
      }
    }

    .fullImg {
      max-width: 622px;
      min-width: 622px;
      height: 463px;
      margin-right: 100px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .textSide {
      color: $white;
      margin-right: 150px;
      margin-top: 40px;
      margin-bottom: 40px;
      max-width: 420px;

      h1 {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        font-size: 31px;
      }

      p {
        display: flex;
        justify-content: center;
        margin-top: 75px;
        margin-bottom: 50px;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        border: 1px solid $white;
        width: 222px;
        height: 68px;
        color: $white;
        text-decoration: none;
      }

      a:hover {
        background-color: $white;
        color: $slate;
      }

      a:active {
        background-color: rgb(200, 200, 200);
        border: none;
      }
    }
  }
}

@media only screen and (max-width: 1600px) {
  #blog {
    .blogPostSection {
      .bookPreviews {
        margin-left: 10px;
        margin: 0 auto;
        width: 300px;

        .imgContainer {
          width: 96px;
          height: 146px;
        }
      }

      .fullImg {
        display: flex;
        align-self: center;
        max-width: 300px;
        min-width: 300px;
        height: 229px;
        margin-right: 20px;
      }

      .textSide {
        margin-top: 20px;
        margin-right: 15px;

        h1 {
          font-size: 12px;
        }

        p {
          margin-top: 20px;
          margin-bottom: 20px;
          font-size: 11px;
        }

        a {
          width: 89px;
          height: 34px;
          font-size: 12px;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  #blog {
    .blogPostSection {
      .bookPreviews {
        margin-left: 10px;
        margin: 0 auto;
        padding-right: 0px;

        .imgContainer {
          width: 45px;
          height: 69px;
        }
      }

      .fullImg {
        max-width: 165px;
        min-width: 165px;
        height: 118px;
        margin-right: 15px;
      }

      .textSide {
        margin-top: 5px;
        margin-right: 15px;

        h1 {
          font-size: 6px;
        }

        p {
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 6px;
        }

        a {
          width: 80px;
          height: 22px;
          font-size: 6px;
        }
      }
    }
  }
}
