#blog {
  display: flex;
  flex-direction: column;
  align-items: center;

  .blogPostSection {
    margin-top: 100px;
    background-color: $slate;
    display: flex;
    max-width: 1464px;

    .bookPreviews {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 40px;
      margin-left: 50px;
      width: 600px;

      .imgContainer {
        margin-right: 100px;
        width: 250px;
        height: 380px;
      }

      img {
        height: 100%;
      }
    }

    .fullImg {
      width: 622px;
      height: 463px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .textSide {
      color: $white;
      margin-left: 180px;
      margin-right: 100px;
      margin-top: 40px;
      margin-bottom: 40px;
      max-width: 420px;

      h1 {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        font-size: 31px;
      }

      p {
        display: flex;
        justify-content: center;
        margin-top: 75px;
        margin-bottom: 50px;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        border: 1px solid $white;
        width: 222px;
        height: 68px;
        color: $white;
        text-decoration: none;
      }

      a:hover {
        background-color: $white;
        color: $slate;
      }

      a:active {
        background-color: rgb(200, 200, 200);
        border: none;
      }
    }
  }
}
